
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using builderz.Practice.Model
@model AboutFactModel
@if (Model != null)
{

    <!-- Fact Start -->
    <div class="fact">
        <div class="container-fluid">
            <div class="row counters">
                <div class="col-md-6 fact-left wow slideInLeft">
                    <div class="row">
                        @{
                            int c = 0;
                        }
                        @for (int i = 0; i < Model.Fact.Count / 2; i++)
                        {
                            <div class="col-6">
                                <div class="fact-icon">
                                    <i class="@Model.Fact[i].FactIcon"></i>
                                </div>
                                <div class="fact-text">
                                    <h2 data-toggle="counter-up">@Model.Fact[i].Score</h2>
                                    <p>@Model.Fact[i].Title</p>
                                </div>
                            </div>
                            c++;
                        }
                        </div>
                </div>
                <div class="col-md-6 fact-right wow slideInRight">
                    <div class="row">
                        @for (int i = c; i < Model.Fact.Count; i++)
                        {
                            <div class="col-6">
                                <div class="fact-icon">
                                    <i class="@Model.Fact[i].FactIcon"></i>
                                </div>
                                <div class="fact-text">
                                    <h2 data-toggle="counter-up">@Model.Fact[i].Score</h2>
                                    <p>@Model.Fact[i].Title</p>
                                </div>
                            </div>
                            c++;
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End -->
}